# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [22]:
import pandas as pd

## imports for Python, Pandas

In [26]:
import json 
from pandas.io.json import json_normalize
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [46]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [44]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

NameError: name 'data' is not defined

In [86]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

TypeError: string indices must be integers

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [36]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

FileNotFoundError: [Errno 2] No such file or directory: 'data/world_bank_projects_less.json'

In [ ]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [57]:
# json.load((open('D:\spring-board\world_bank_projects_less.json')))
data = pd.read_json('D:\spring-board\world_bank_projects.json')
print(data.shape)

(500, 50)

In [58]:
print(data.head)
# for col in data.columns: 
#     print(col)

<bound method NDFrame.head of                                                 sector supplementprojectflg  \
0    [{'Name': 'Primary education'}, {'Name': 'Seco...                    N
1    [{'Name': 'Public administration- Other social...                    N
2    [{'Name': 'Rural and Inter-Urban Roads and Hig...                    Y
3                  [{'Name': 'Other social services'}]                    N
4    [{'Name': 'General industry and trade sector'}...                    N
..                                                 ...                  ...
495  [{'Name': 'General agriculture, fishing and fo...                    N
496  [{'Name': 'Central government administration'}...                    N
497  [{'Name': 'Irrigation and drainage'}, {'Name':...                    N
498  [{'Name': 'Agricultural extension and research...                    N
499  [{'Name': 'Urban Transport'}, {'Name': 'Public...                    N

    projectfinancialtype prodline  \
0                    IDA       PE
1                  OTHER       RE
2                    IDA       PE
3                  OTHER       RE
4                    IDA       PE
..                   ...      ...
495                OTHER       RE
496                  IDA       PE
497                OTHER       RE
498                 IBRD       PE
499                  IDA       PE

                                               mjtheme  idacommamt  \
0                                  [Human development]   130000000
1    [Economic management, Social protection and ri...           0
2    [Trade and integration, Public sector governan...     6060000
3    [Social dev/gender/inclusion, Social dev/gende...           0
4    [Trade and integration, Financial and private ...    13100000
..                                                 ...         ...
495  [Financial and private sector development, Soc...           0
496  [Human development, Trade and integration, Pub...    20000000
497                                [Rural development]           0
498  [Rural development, Rural development, Rural d...           0
499  [Urban development, Human development, Trade a...   300000000

                                             impagency  \
0                                MINISTRY OF EDUCATION
1                                  MINISTRY OF FINANCE
2             MINISTRY OF TRANSPORT AND COMMUNICATIONS
3             LABOR INTENSIVE PUBLIC WORKS PROJECT PMU
4                       MINISTRY OF TRADE AND INDUSTRY
..                                                 ...
495                        THE COMPETITIVENESS COMPANY
496                                MINISTRY OF FINANCE
497  MINISTRY OF AGRICULTURE AND PRODUCER ORGANISAT...
498  INDONESIAN AGENCY FOR AGRICULTURAL RESEARCH AN...
499                                  MINISTRY OF ROADS

                                          project_name mjthemecode  \
0    Ethiopia General Education Quality Improvement...        8,11
1            TN: DTF Social Protection Reforms Support         1,6
2    Tuvalu Aviation Investment Project - Additiona...    5,2,11,6
3     Gov't and Civil Society Organization Partnership         7,7
4    Second Private Sector Competitiveness and Econ...         5,4
..                                                 ...         ...
495  Technological Scale Up for Youth-led Urban Orn...         4,7
496                Lao Eight Poverty Reduction Support     8,5,2,8
497  Second Emergency Agricultural Productivity Sup...        10,6
498  Sustainable Management of Agricultural Researc...    10,10,10
499  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...     9,8,5,4

              closingdate  ...  \
0    2018-07-07T00:00:00Z  ...
1                     NaN  ...
2                     NaN  ...
3                     NaN  ...
4    2019-04-30T00:00:00Z  ...
..                    ...  ...
495  2013-08-31T00:00:00Z  ...
496  2012-12-31T00:00:00Z  ...
497  2014-12-31T00:00:00Z  ...
498  2017-09-30T00:00:00Z  ...
499  2018-12-31T00:00:00Z  ...

                                   majorsector_percent board_approval_month  \
0    [{'Percent': 46, 'Name': 'Education'}, {'Perce...             November
1    [{'Percent': 70, 'Name': 'Public Administratio...             November
2         [{'Percent': 100, 'Name': 'Transportation'}]             November
3    [{'Percent': 100, 'Name': 'Health and other so...              October
4    [{'Percent': 50, 'Name': 'Industry and trade'}...              October
..                                                 ...                  ...
495  [{'Percent': 50, 'Name': 'Agriculture, fishing...               August
496  [{'Percent': 36, 'Name': 'Public Administratio...               August
497  [{'Percent': 40, 'Name': 'Agriculture, fishing...               August
498  [{'Percent': 80, 'Name': 'Agriculture, fishing...               August
499  [{'Percent': 79, 'Name': 'Transportation'}, {'...               August

                                        theme_namecode  \
0        [{'code': '65', 'name': 'Education for all'}]
1    [{'code': '24', 'name': 'Other economic manage...
2    [{'code': '47', 'name': 'Regional integration'...
3    [{'code': '57', 'name': 'Participation and civ...
4    [{'code': '45', 'name': 'Export development an...
..                                                 ...
495  [{'code': '40', 'name': 'Regulation and compet...
496  [{'code': '63', 'name': 'Child health'}, {'cod...
497  [{'code': '91', 'name': 'Global food crisis re...
498  [{'code': '78', 'name': 'Rural services and in...
499  [{'code': '73', 'name': 'Municipal governance ...

                                 countryname  \
0    Federal Democratic Republic of Ethiopia
1                        Republic of Tunisia
2                                     Tuvalu
3                          Republic of Yemen
4                         Kingdom of Lesotho
..                                       ...
495                                  Jamaica
496         Lao People's Democratic Republic
497                       Republic of Guinea
498                    Republic of Indonesia
499                        Republic of Kenya

                                                   url source  \
0    http://www.worldbank.org/projects/P129828/ethi...   IBRD
1    http://www.worldbank.org/projects/P144674?lang=en   IBRD
2    http://www.worldbank.org/projects/P145310?lang=en   IBRD
3    http://www.worldbank.org/projects/P144665?lang=en   IBRD
4    http://www.worldbank.org/projects/P144933/seco...   IBRD
..                                                 ...    ...
495  http://www.worldbank.org/projects/P127299/tech...   IBRD
496  http://www.worldbank.org/projects/P125298/lao-...   IBRD
497  http://www.worldbank.org/projects/P128309/seco...   IBRD
498  http://www.worldbank.org/projects/P117243/sust...   IBRD
499  http://www.worldbank.org/projects/P126321/keny...   IBRD

    projectstatusdisplay ibrdcommamt  \
0                 Active           0
1                 Active           0
2                 Active           0
3                 Active           0
4                 Active           0
..                   ...         ...
495               Closed           0
496               Closed           0
497               Active           0
498               Active    80000000
499               Active           0

                                       sector_namecode  \
0    [{'code': 'EP', 'name': 'Primary education'}, ...
1    [{'code': 'BS', 'name': 'Public administration...
2    [{'code': 'TI', 'name': 'Rural and Inter-Urban...
3    [{'code': 'JB', 'name': 'Other social services'}]
4    [{'code': 'YZ', 'name': 'General industry and ...
..                                                 ...
495  [{'code': 'AZ', 'name': 'General agriculture, ...
496  [{'code': 'BC', 'name': 'Central government ad...
497  [{'code': 'AI', 'name': 'Irrigation and draina...
498  [{'code': 'AB', 'name': 'Agricultural extensio...
499  [{'code': 'TC', 'name': 'Urban Transport'}, {'...

                                      _id
0    {'$oid': '52b213b38594d8a2be17c780'}
1    {'$oid': '52b213b38594d8a2be17c781'}
2    {'$oid': '52b213b38594d8a2be17c782'}
3    {'$oid': '52b213b38594d8a2be17c783'}
4    {'$oid': '52b213b38594d8a2be17c784'}
..                                    ...
495  {'$oid': '52b213b38594d8a2be17c96f'}
496  {'$oid': '52b213b38594d8a2be17c970'}
497  {'$oid': '52b213b38594d8a2be17c971'}
498  {'$oid': '52b213b38594d8a2be17c972'}
499  {'$oid': '52b213b38594d8a2be17c973'}

[500 rows x 50 columns]>

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [69]:
print(data.groupby('countryname').first())

                                                                        sector  \
countryname
Africa                                                    [{'Name': 'Health'}]
Antigua and Barbuda          [{'Name': 'Other social services'}, {'Name': '...
Arab Republic of Egypt       [{'Name': 'Thermal Power Generation'}, {'Name'...
Argentine Republic           [{'Name': 'Agricultural extension and research...
Bosnia and Herzegovina       [{'Name': 'Public administration- Information ...
...                                                                        ...
Union of the Comoros                       [{'Name': 'General energy sector'}]
United Mexican States        [{'Name': 'Agro-industry, marketing, and trade...
United Republic of Tanzania  [{'Name': 'Forestry'}, {'Name': 'General water...
West Bank and Gaza           [{'Name': 'Other social services'}, {'Name': '...
World                        [{'Name': 'General agriculture, fishing and fo...

                            supplementprojectflg projectfinancialtype  \
countryname
Africa                                         N                OTHER
Antigua and Barbuda                            N                 IBRD
Arab Republic of Egypt                         N                 IBRD
Argentine Republic                             N                OTHER
Bosnia and Herzegovina                         N                  IDA
...                                          ...                  ...
Union of the Comoros                           N                  IDA
United Mexican States                          Y                 IBRD
United Republic of Tanzania                    N                OTHER
West Bank and Gaza                             Y                OTHER
World                                          N                OTHER

                            prodline  \
countryname
Africa                            RE
Antigua and Barbuda               PE
Arab Republic of Egypt            PE
Argentine Republic                RE
Bosnia and Herzegovina            PE
...                              ...
Union of the Comoros              PE
United Mexican States             PE
United Republic of Tanzania       GE
West Bank and Gaza                SF
World                             GE

                                                                       mjtheme  \
countryname
Africa                                                     [Human development]
Antigua and Barbuda          [Social protection and risk management, Social...
Arab Republic of Egypt              [Financial and private sector development]
Argentine Republic           [Environment and natural resources management,...
Bosnia and Herzegovina       [Social dev/gender/inclusion, Environment and ...
...                                                                        ...
Union of the Comoros         [Financial and private sector development, Fin...
United Mexican States        [Rural development, Environment and natural re...
United Republic of Tanzania  [Environment and natural resources management,...
West Bank and Gaza                     [Social protection and risk management]
World                        [Environment and natural resources management,...

                             idacommamt  \
countryname
Africa                                0
Antigua and Barbuda                   0
Arab Republic of Egypt                0
Argentine Republic                    0
Bosnia and Herzegovina         34100000
...                                 ...
Union of the Comoros            5000000
United Mexican States                 0
United Republic of Tanzania           0
West Bank and Gaza                    0
World                                 0

                                                                     impagency  \
countryname
Africa                                                                    WAHO
Antigua and Barbuda          MINISTRY OF FINANCE, ECONOMY AND PUBLIC ADMINI...
Arab Republic of Egypt             EGYPTIAN ELECTRICITY HOLDING COMPANY (EEHC)
Argentine Republic           SECRETARIAT OF ENVIRONMENT AND SUSTAINABLE DEV...
Bosnia and Herzegovina             REPUBLIC GEODETIC AUTHORITY AT ENTITY LEVEL
...                                                                        ...
Union of the Comoros                                     GOVERNMENT OF COMOROS
United Mexican States                          MINISTRY OF AGRICULTURE / FIRCO
United Republic of Tanzania               MINISTRIES OF GOVERNMENT OF TANZANIA
West Bank and Gaza                                  MINISTRY OF SOCIAL AFFAIRS
World                        PERSGA-REGIONAL ORG. FOR CONSERVTN OF RED SEA ...

                                                                  project_name  \
countryname
Africa                       West Africa  Regional Disease Surveillance Cap...
Antigua and Barbuda          Public and Social Sector Transformation Projec...
Arab Republic of Egypt                         EG - Helwan South Power Project
Argentine Republic           Adaptation Fund: Increasing Climate Resilience...
Bosnia and Herzegovina                        REAL ESTATE REGISTRATION PROJECT
...                                                                        ...
Union of the Comoros                  KM-Electricity Sect. Recovery Proj(FY14)
United Mexican States        Sustainable Rural Development Additional Finan...
United Republic of Tanzania  Kihansi Catchment Conservation and Management ...
West Bank and Gaza           West Bank and Gaza Cash Transfer Project Addit...
World                        Red Sea and Gulf of Aden Strategic Ecosystem M...

                               mjthemecode           closingdate  ...  \
countryname                                                       ...
Africa                                8,10  2018-06-30T00:00:00Z  ...
Antigua and Barbuda                6,6,6,2  2018-12-31T00:00:00Z  ...
Arab Republic of Egypt                4,10  2019-06-30T00:00:00Z  ...
Argentine Republic           11,11,6,11,11                   NaN  ...
Bosnia and Herzegovina              7,11,3  2018-07-31T00:00:00Z  ...
...                                    ...                   ...  ...
Union of the Comoros                   4,4  2017-04-30T00:00:00Z  ...
United Mexican States                10,11  2017-08-31T00:00:00Z  ...
United Republic of Tanzania    11,11,11,11  2014-06-30T00:00:00Z  ...
West Bank and Gaza                     6,7  2017-02-28T00:00:00Z  ...
World                        11,7,11,11,11  2014-04-30T00:00:00Z  ...

                                                                       sector3  \
countryname
Africa                       {'Percent': 10, 'Name': 'Public administration...
Antigua and Barbuda          {'Percent': 12, 'Name': 'Public administration...
Arab Republic of Egypt                                                     NaN
Argentine Republic           {'Percent': 25, 'Name': 'Irrigation and draina...
Bosnia and Herzegovina       {'Percent': 15, 'Name': 'Information technology'}
...                                                                        ...
Union of the Comoros         {'Percent': 18, 'Name': 'General water, sanita...
United Mexican States             {'Percent': 29, 'Name': 'Animal production'}
United Republic of Tanzania  {'Percent': 10, 'Name': 'General agriculture, ...
West Bank and Gaza           {'Percent': 23, 'Name': 'General water, sanita...
World                                                                      NaN

                                                           majorsector_percent  \
countryname
Africa                       [{'Percent': 100, 'Name': 'Health and other so...
Antigua and Barbuda          [{'Percent': 41, 'Name': 'Health and other soc...
Arab Republic of Egypt       [{'Percent': 86, 'Name': 'Energy and mining'},...
Argentine Republic           [{'Percent': 25, 'Name': 'Agriculture, fishing...
Bosnia and Herzegovina       [{'Percent': 50, 'Name': 'Public Administratio...
...                                                                        ...
Union of the Comoros           [{'Percent': 100, 'Name': 'Energy and mining'}]
United Mexican States        [{'Percent': 30, 'Name': 'Industry and trade'}...
United Republic of Tanzania  [{'Percent': 50, 'Name': 'Agriculture, fishing...
West Bank and Gaza           [{'Percent': 90, 'Name': 'Health and other soc...
World                        [{'Percent': 70, 'Name': 'Agriculture, fishing...

                            board_approval_month  \
countryname
Africa                                 September
Antigua and Barbuda                         June
Arab Republic of Egypt                      June
Argentine Republic                     September
Bosnia and Herzegovina                   October
...                                          ...
Union of the Comoros                   September
United Mexican States                   November
United Republic of Tanzania            September
West Bank and Gaza                     September
World                                     August

                                                                theme_namecode  \
countryname
Africa                       [{'code': '67', 'name': 'Health system perform...
Antigua and Barbuda          [{'code': '51', 'name': 'Improving labor marke...
Arab Republic of Egypt       [{'code': '39', 'name': 'Infrastructure servic...
Argentine Republic           [{'code': '81', 'name': 'Climate change'}, {'c...
Bosnia and Herzegovina       [{'code': '57', 'name': 'Participation and civ...
...                                                                        ...
Union of the Comoros         [{'code': '43', 'name': 'State-owned enterpris...
United Mexican States        [{'code': '79', 'name': 'Other rural developme...
United Republic of Tanzania  [{'code': '85', 'name': 'Water resource manage...
West Bank and Gaza              [{'code': '54', 'name': 'Social safety nets'}]
World                        [{'code': '85', 'name': 'Water resource manage...

                                                                           url  \
countryname
Africa                       http://www.worldbank.org/projects/P125018/west...
Antigua and Barbuda          http://www.worldbank.org/projects/P126791/publ...
Arab Republic of Egypt       http://www.worldbank.org/projects/P117407/eg-h...
Argentine Republic           http://www.worldbank.org/projects/P125804/adap...
Bosnia and Herzegovina       http://www.worldbank.org/projects/P128950/real...
...                                                                        ...
Union of the Comoros         http://www.worldbank.org/projects/P131659/km-e...
United Mexican States        http://www.worldbank.org/projects/P130623/sust...
United Republic of Tanzania  http://www.worldbank.org/projects/P126361?lang=en
West Bank and Gaza           http://www.worldbank.org/projects/P144967?lang=en
World                        http://www.worldbank.org/projects/P113794/red-...

                            source projectstatusdisplay ibrdcommamt  \
countryname
Africa                        IBRD               Active           0
Antigua and Barbuda           IBRD               Active    10000000
Arab Republic of Egypt        IBRD               Active   585400000
Argentine Republic            IBRD               Active           0
Bosnia and Herzegovina        IBRD               Active           0
...                            ...                  ...         ...
Union of the Comoros          IBRD               Active           0
United Mexican States         IBRD               Active    50000000
United Republic of Tanzania   IBRD               Active           0
West Bank and Gaza            IBRD               Closed           0
World                         IBRD               Active           0

                                                               sector_namecode  \
countryname
Africa                                      [{'code': 'JA', 'name': 'Health'}]
Antigua and Barbuda          [{'code': 'JB', 'name': 'Other social services...
Arab Republic of Egypt       [{'code': 'LG', 'name': 'Thermal Power Generat...
Argentine Republic           [{'code': 'AB', 'name': 'Agricultural extensio...
Bosnia and Herzegovina       [{'code': 'BM', 'name': 'Public administration...
...                                                                        ...
Union of the Comoros         [{'code': 'LZ', 'name': 'General energy sector'}]
United Mexican States        [{'code': 'YA', 'name': 'Agro-industry, market...
United Republic of Tanzania  [{'code': 'AT', 'name': 'Forestry'}, {'code': ...
West Bank and Gaza           [{'code': 'JB', 'name': 'Other social services...
World                        [{'code': 'AZ', 'name': 'General agriculture, ...

                                                              _id
countryname
Africa                       {'$oid': '52b213b38594d8a2be17c7ad'}
Antigua and Barbuda          {'$oid': '52b213b38594d8a2be17c817'}
Arab Republic of Egypt       {'$oid': '52b213b38594d8a2be17c7e5'}
Argentine Republic           {'$oid': '52b213b38594d8a2be17c7a6'}
Bosnia and Herzegovina       {'$oid': '52b213b38594d8a2be17c92e'}
...                                                           ...
Union of the Comoros         {'$oid': '52b213b38594d8a2be17c7b0'}
United Mexican States        {'$oid': '52b213b38594d8a2be17c90f'}
United Republic of Tanzania  {'$oid': '52b213b38594d8a2be17c79f'}
West Bank and Gaza           {'$oid': '52b213b38594d8a2be17c7a5'}
World                        {'$oid': '52b213b38594d8a2be17c7b7'}

[118 rows x 49 columns]

In [88]:
top_10_countries_with_major_project = data.groupby('countryname')['project_name'].count().sort_values(ascending = False)
print(top_10_countries_with_major_project.head(10))

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

In [93]:
def flatten_theme():
    themeJsonList = data['mjtheme_namecode'].tolist()
    dataList=[json_normalize(themeJson)for themeJson in themeJsonList]
    return pd.concat(dataList, ignore_index=True)
theme_df=flatten_theme()
theme_df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [103]:
themegroupData=theme_df.groupby('name')['name'].count().sort_values(ascending = False)
themegroupData

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [105]:
Q>3 solution

In [106]:
theme_df['code'].nunique()

11

In [109]:
# Find the unique combination of code and name 
unique_theme_df = theme_df.drop_duplicates()
unique_theme_df = unique_theme_df[unique_theme_df.name != '']

unique_theme_df = unique_theme_df.reset_index().drop('index',axis=1)
unique_theme_df

   code                                          name
0     8                             Human development
1     1                           Economic management
2     6         Social protection and risk management
3     5                         Trade and integration
4     2                      Public sector governance
5    11  Environment and natural resources management
6     7                   Social dev/gender/inclusion
7     4      Financial and private sector development
8    10                             Rural development
9     9                             Urban development
10    3                                   Rule of law

In [112]:
filled_theme_df = pd.merge(theme_df, unique_theme_df, on='code', suffixes=('_x','')).drop('name_x' , axis=1)
filled_theme_df.head()

  code               name
0    8  Human development
1    8  Human development
2    8  Human development
3    8  Human development
4    8  Human development

In [113]:
filled_theme_df['name'].value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64